<form action="#" method="GET" class="form">
  <fieldset class="form__content">
    <div class="form__flex-container">
      <div class="form__child--1">
        <input type="number" id="mintCount" name="mintCount" min="1" max="5" class="text-input" onchange="onAmountChange(this.value)">
        <!-- <label class="form__field-error">field error</label> -->
      </div>
      <div class="form__child--1">
        <input type="text" id="mintTotalAmount" name="mintTotalAmount" class="text-input" disabled>
      </div>
      <div class="form__child--2">
        <include src="./button.html" btnClass="form__btn" text="Mint now" onclick="onMintNow()"></include>
      </div>
    </div>
    <label class="form__response-error" id="responseError">field error</label>
  </fieldset>
</form>